body {
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("Photo.jpg");
    background-position: center;
    background-size: cover;
  }
  .unlists li {
    display: inline-block;
  }
  .next a {
    text-decoration: none;
  }
  .unlists a {
    text-decoration: underline;
  }
  .containermost img {
    width: 80%;
  }
  
  .textt2 p {
    line-height: 25px;
  }
  .containermost {
    display: grid;
    grid-template-columns: 1fr 500px;
  }